[submodule "third_party_utils/BLAKE3"]
	path = third_party_utils/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "third_party_utils/blake3"]
	path = third_party_utils/blake3
	url = https://github.com/BLAKE3-team/BLAKE3.git
